/**
 * This file holds the declaration of the fonts used in our layout.
 */


@font-face {
    font-family: 'ocr-pbi-cond';
    src: url('/fonts/ocr-pbi-cond.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ocr-pbi-v2';
    src: url('/fonts/ocr-pbi-squareV2.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ocr-pbi';
    src: url('/fonts/ocr-pbi.ttf');
    font-weight: normal;
    font-style: normal;
}
