
<header class="cellule">
<h1 class="headline"> sommaire </h1>
<p class="date"> Médor + numero <br> saison année </p>
</header>

<!--  ARTICLES PAR ORDRE DE NUMERO DE PAGE + DIFFERENTE class en fonstion du type d'article-->
<div class="cellule">
<h1 class="som-rubrique "> titre de la rubrique </h1>
<p class="phrase"> phrase d'accroche </p>
<p class="pagination"> p.</p>
</div>

<div class="cellule" >
<h1 class="som-petite-enquete"> titre de la petite enquete </h1>
<p class="phrase"> phrase d'accroche</p>
<p class="pagination"> p. </p>
</div>

<div  class="cellule">
<h1 class="som-grande-enquete"> titre de grande enquete </h1>
<p class="phrase"> phrase d'accroche </p>
<p class="pagination"> p.</p>
</div>
