@import "../../../css/main.less";
@color2:black;
//@color2:black;
@colorarch: #f665cc;
@color1: red;
@size1: 20pt;
@line: 37pt;
@size2: 57pt;
@line2: 57pt;
@size3:8pt;
@line3:13pt;


body{
    font-family: 'ocr-pbi-titre';
    color: black;
}
#flow-main .titre {
    -webkit-flow-into: flow-titre;
    flow-into: flow-titre;
    text-transform: uppercase;
    font-size: @size1 * 1.2;
    margin-top: -10pt;
    line-height: 46pt;
    text-align: center;
    span{
      padding-bottom: 20pt;
      padding-left: 6pt;
      padding-right: 6pt;
      // text-transform: uppercase;
    }
    h1{
      margin-top: -15pt;
      span:nth-of-type(3){
	line-height: -40pt !important;
      }
    }

}

.flow-titre {
    -webkit-flow-from: flow-titre;
    flow-from: flow-titre;
}


#flow-main .soustitre {
    -webkit-flow-into: flow-soustitre;
    flow-into: flow-soustitre;
}


#flow-main .presentation {
    -webkit-flow-into: flow-presentation;
    flow-into: flow-presentation;
    font-size: 8.5pt;
    font-size: 10.5pt;
    p+p{
      margin-top:12pt;
    }
    p u{
	outline: 1px solid black;
	padding: 0pt 3pt;

    }
    .lang:nth-of-type(1){
      margin-right: 60pt;
    }
    .lang:nth-of-type(2){
      margin-top: 2pt;
      margin-right: 60pt;

    }
    .lang:nth-of-type(3){
      margin-top: 2pt;
      margin-right: 60pt;
    }
}

.flow-presentation {
    -webkit-flow-from: flow-presentation;
    flow-from: flow-presentation;
    // -webkit-transform: rotate(270deg);
    // transform: rotate(270deg);
    // -webkit-transform-origin: bottom left;
    // transform-origin: top right;

}

i{
  font-weight:100;
}
#flow-main .programme {
    -webkit-flow-into: flow-programme;
    flow-into: flow-programme;
    h1{
      margin:0px;
      font-size:@size3 *1.1  !important;
    }
   h1:nth-of-type(1){
      text-align:center; 
      text-transform:uppercase;
      background: black;
      color:white;
      u{
	text-decoration: none;
      }
   } 
    p{
      margin:0px;
      font-size:@size3 !important;
      i{
	background:@color2;
	font-size:7pt !important;
	color:white;
	font-style:normal;
	font-weight:normal;
    }
    }
    h3{
      margin-top: 6pt !important;
      padding:2pt;
      width:100%;
      margin:0px;
      font-size: @size3 !important;
      line-height:9pt;
      u{
	outline: 1px solid black;
	padding: 0pt 3pt;
      }
      
      i{
	background:@color2;
	color:white;
	font-style:normal;
	font-weight:normal;
    }
  }
}

.flow-programme{
    -webkit-flow-from: flow-programme;
    flow-from: flow-programme;
    color:@color2;
}

#flow-main .credits{
    -webkit-flow-into: flow-credits;
    flow-into: flow-credits;
    font-size: @size3 /1.2 !important;
}
.flow-credits{
    -webkit-flow-from: flow-credits;
    flow-from: flow-credits;
}


.droit{
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
    transform-origin: top right;
}
.gauche{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top left;
    transform-origin: bottom right;
    text-align: right !important;
}
